/node_modules
/public/hot
/public/storage
public/XMLOutput_N.sdk
/public/uploads
/public/emailFile_*
/public/vanBanDiFile_*
/storage/*.key
/vendor
.env
.env.backup
.idea/
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/codeStyles
.idea/.*
